<mat-toolbar class="cfsToolbar" color="secondary">

  <div fxLayout="row" class="full-width" fxLayoutAlign="space-between center">
    <div id="left-group" fxFlex="0 0 auto">
      <div fxLayout="row" fxLayoutAlign="start center">

        <span fxFlex="0 0 auto" ><img routerLink="/public" class="logo" ngClass.lt-md="logoltsm" src="./../assets/public/logo.png"></span>

        <span fxFlex="0 0 auto" id="site-title" routerLink="/public">{{env.companyName}}</span>

        <span fxFlex="0 0 auto" id="dev-warning" *ngIf="!env.production">Env: {{env.env}}</span>

      </div>
    </div>
    <div id="right-group" fxFlex="0 0 auto">
      <div fxLayout="row" fxLayoutAlign="end center" fxHide fxShow.gt-sm="true">
        <span >
          <button fxFlex="0 0 auto" mat-button color="white" class="btnTextColor menuText" routerLink="/private">Dashboard</button>
          <button fxFlex="0 0 auto" mat-button color="white" class="btnTextColor menuText" routerLink="/private/signup">Signup</button>

          <button fxFlex="0 0 auto" mat-button color="white" class="btnTextColor menuText" routerLink="/public/contactus">Contact Sales</button>

              <ul fxFlex="0 0 auto" class="navbar-nav d-none d-md-block loginLogoutText">


                <!-- / Login button -->

              </ul>
        </span>

      </div>
    </div>


  </div>

</mat-toolbar>
