.signup-process-img {
  width: 100%;
}

.form-start {
  margin-top: 20px;
}

#sub-types-section {
  margin-top: 20px;
}

.checkout-section {
  margin-top: 40px;
}

.tos-display {
  height: 150px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: lightgrey;
}

.stepper-button {
  margin-top: 20px;
  margin-right: 10px;
}

.stepper-selection-cards {
  margin-top: 20px;
  box-shadow: 0 4px 10px -1px rgba(0,0,0,.2), 0 4px 10px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#contact-type-select {
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,1), 0 2px 2px 0 rgba(0,0,0,1), 0 2px 2px 0 rgba(0,0,0,1) !important;
}
