<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card fxFlex="75%" fxFlex.lt-sm="95%">
    <mat-card-title>Abbonati a ParkinsonCare</mat-card-title>
    <mat-card-subtitle>Accettiamo sia Carta di Credito che Bonifico</mat-card-subtitle>
    <mat-card-subtitle>Il processo e Semplice e Rapido</mat-card-subtitle>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <!--
      <img fxFlex="50%"  fxFlex.lt-sm="95%" class="signup-process-img" [ngClass.lt-sm]="{ 'signup-process-img':false, 'signup-process-img-sm': true}" src="./../assets/public/images/PCare-signup-process.png"/>
      -->
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around">
      <mat-horizontal-stepper fxFlex="85%" fxFlex.lt-sm="95%" linear="true" #stepper>

        <mat-step [stepControl]="tosFormGroup">
          <form [formGroup]="tosFormGroup">
            <ng-template matStepLabel>Terms of Service</ng-template>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
                <div fxFlex="70%">

                  <pre class="tos-display">{{getTermsOfServiceText()}}</pre>
                  <mat-hint align="end">Scrollare per vedere tutto</mat-hint>

                </div>
                <div fxFlex="25%">
                  <mat-radio-group formControlName="termsOfServiceAccepted">
                    <div fxLayout="column">
                      <div fxFlex>
                        <mat-radio-button matInput [value]="true">Acconsento</mat-radio-button>
                      </div>
                      <div fxFlex>
                        <mat-radio-button matInput [value]="false">Non Acconsento</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                  <mat-hint align="end"><strong>Obbligatorio</strong> </mat-hint>
                </div>
              </div>

            <div fxLayout="row" fxLayoutAlign="end start" class="full-width">
              <button class="stepper-button prev-button" fxFlex="15%" fxFlexAlign="end" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-button prev-button" [disabled]="!tosFormGroup.valid" fxFlex="15%" fxFlexAlign="end" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>

          </form>
        </mat-step>

        <mat-step [stepControl]="dataHandlingFormGroup">
          <form [formGroup]="dataHandlingFormGroup">
            <ng-template matStepLabel>Trattamento Dati</ng-template>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
              <div fxFlex="70%">

                <pre class="tos-display">{{getDataHandlingText()}}</pre>
                <mat-hint align="end">Scrollare per vedere tutto</mat-hint>

              </div>
              <div fxFlex="25%">
                <mat-radio-group formControlName="dataHandlingAccepted">
                  <div fxLayout="column">
                    <div fxFlex>
                      <mat-radio-button matInput [value]="true">Acconsento</mat-radio-button>
                    </div>
                    <div fxFlex>
                      <mat-radio-button matInput [value]="false">Non Acconsento</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
                <mat-hint align="end"><strong>Obbligatorio</strong> </mat-hint>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end start" class="full-width">
              <button class="stepper-button prev-button" fxFlex="15%" fxFlexAlign="end" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-button prev-button" [disabled]="!dataHandlingFormGroup.valid" fxFlex="15%" fxFlexAlign="end" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>

          </form>
        </mat-step>

        <mat-step [stepControl]="productFormGroup">
          <form [formGroup]="productFormGroup">
            <ng-template matStepLabel>Product</ng-template>

            <mat-radio-group aria-label="Select an option" formControlName="product">
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
                <mat-card class="stepper-selection-cards" fxFlex="33%" fxFlex.lt-sm="95%" >
                  <mat-card-title>One Day Purchase</mat-card-title>

                  <mat-radio-button value="one-day-purchase">€2.00</mat-radio-button>
                </mat-card>
                <mat-card class="stepper-selection-cards" fxFlex="33%" fxFlex.lt-sm="95%" >
                  <mat-card-title>Daily Subscription</mat-card-title>

                  <mat-radio-button value="daily-subscription">€1.00 per day</mat-radio-button>
                </mat-card>
                <mat-card class="stepper-selection-cards" fxFlex="33%" fxFlex.lt-sm="95%" >
                  <mat-card-title>Weekly Subscription</mat-card-title>

                  <mat-radio-button value="weekly-subscription">€5.00 per week</mat-radio-button>
                </mat-card>
              </div>
            </mat-radio-group>


            <div fxLayout="row" fxLayoutAlign="end start" class="full-width">
              <button class="stepper-button prev-button" fxFlex="15%" fxFlexAlign="right" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button class="stepper-button prev-button" [disabled]="!productFormGroup.valid" fxFlex="15%" fxFlexAlign="right" mat-raised-button color="primary" matStepperNext (click)="setupPayment()">Iscriverti</button>
            </div>

          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>

  </mat-card>
</div>


