

#send-email {
  margin-bottom: 10px;
  font-family: GothamBold;
  font-size: 30px;
  width: 100%;
}


.text-input-class {
  width: 100%;
  font-family: GothamBook;
}

.mat-form-field-infix {
  background-color: white !important;
}

#privacy-checkbox {
  font-size: 16px;
  font-family: GothamBook;
}

.contact-info {
  width: 100%;
}

.input-box {
}
