.phone-us-row {
  font-family: GothamBold;
  font-size: 30px;
}

#phone-icon {
  border-radius:50% 50%;
  color: white;
  height: 1.6em;
  width: 1.6em;
  background-color: #59838C;
}

#phone-icon-centerer {
  height: 100%;
}

.button-look {
  background-color: #59838C;
  color: white;
  border-radius: 20px;
}

#chiamaci {
  margin-top: 20px;
}
