
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">

  <div fxFlex="1 0 25%" fxFlexAlign="center center">
    <img class="levelImg" src="/assets/public/images/nurse-1.png" />
  </div>

  <div fxFlex="1 1 65%">

    <div class="levelLargeHeader-md" [ngClass.lt-md]="'levelLargeHeader-md'" >
      ParkinsonCare
    </div>
    <div class="levelSmallIntro">
      <!--Il supporto di un esperto, quando ne hai bisogno-->
      Infermieri Specializzati nella Malattia di Parkinson
    </div>

    <div class="levelParagraph" id="first-phrase">
      <!--ParkinsonCare ti dedica due infermieri specializzati nella Malattia di Parkinson.-->
      Il loro compito è diventare il tuo punto di riferimento nella vita quotidiana.
      Ascoltiamo e affianchiamo malati e familiari nella loro sfida con il Parkinson.
      Puoi chiamarci ogni giorno, in qualsiasi momento senza dover prenotare dalle 9 alle 18.
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="phone-us-row" fxLayoutGap="10px">
      <div fxFlex="0 1a auto" id="chiamaci" >
        Chiamaci per sapere come funziona
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="phone-us-row" fxLayoutGap="10px">
      <div fxFlex="0 0 auto" id="phone-icon" fxHide.lt-md  fxShow.lt-sm >
        <a class="button-look" href="tel:+39-02-21079073">
          <div fxLayout="row" fxLayoutAlign="center center" id="phone-icon-centerer">
            <mat-icon fxFlex="0 0 auto">phone</mat-icon>
          </div>
        </a>
      </div>

      <div fxFlex="1 0 auto" class="button-look">
        <a class="button-look" href="tel:+39-02-21079073">
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="0 0 auto">+39 02 21079073</div>
          </div>
        </a>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="phone-us-row" fxLayoutGap="10px">
      <div fxFlex="0 0 auto" id="orari" >
        Lunedì a venerdì dalle 9 alle 18, oppure scrivici sotto.
      </div>
    </div>
  </div>
</div>
