
<div *ngIf="stripeInvoices">
  <div fxLayout="rol" fxLayoutAlign="space-between">
    <div fxFlex="15%">Date</div>
    <div fxFlex="15%">Amount</div>
    <div fxFlex="15%">From</div>
    <div fxFlex="15%">To</div>
    <div fxFlex="15%">Status</div>
    <div fxFlex="15%"></div>
  </div>
  <div *ngFor="let inv of stripeInvoices.data">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="15%">{{inv.created*1000|date}}</div>
      <div fxFlex="15%">{{(inv.total/100)|currency:inv.currency}}</div>
      <div fxFlex="15%">{{inv.lines.data[0].period.start*1000|date}}</div>
      <div fxFlex="15%">{{inv.lines.data[0].period.end*1000|date}}</div>
      <div fxFlex="15%">{{inv.status}}</div>
      <div fxFlex="15%">
        <a href="{{inv.hosted_invoice_url}}" target="_blank">Invoice</a>
      </div>
    </div>
    <!--
    <mat-card>
      <mat-card-title>stripeInvoice</mat-card-title>
      <pre>{{inv|json}}</pre>
    </mat-card>
    -->
  </div>
</div>
<!--
<pre>{{stripeInvoices|json}}</pre>
-->
