<mat-toolbar class="pcToolbar" color="secondary">
  <div fxLayout="row" class="full-width" fxLayoutAlign="space-between center">
    <div id="left-group" fxFlex="1 1 auto">
      <div fxLayout="row" fxLayoutAlign="start center">

        <button
          fxFlex="0 0 auto"
          fxHide.gt-sm
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggleMenus()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <a fxFlex="1 1 auto" href="https://www.parkinsoncare.com/"><img class="logo" ngClass.lt-md="logoltsm" src="./../assets/public/images/LogoLanding.jpeg"></a>

        <span fxFlex="0 0 auto" id="dev-warning" *ngIf="!env.production">Env: {{env.env}}</span>

        <a id="top-menu-home" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-home" href="https://www.parkinsoncare.com/">HOME</a>
        <a id="top-menu-cosa-fa" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-cosa-fa" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">COSA FA</a>
        <a id="top-menu-com-e" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-come" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">COM'È</a>
        <a id="top-menu-contatti" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-contatti" href="https://www.parkinsoncare.com/s/contatti">CONTATTI</a>
        <a id="top-menu-neuro" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-neuro" href="https://www.parkinsoncare.com/s/neurologist">SEI UN NEUROLOGO?</a>
        <a id="top-menu-accedi" fxFlex="1 1 auto" fxHide.lt-md class="toolbar-link" id="toolbar-accedi" href="https://www.parkinsoncare.com/">ACCEDI</a>


      </div>
    </div>

  </div>

</mat-toolbar>


