.logo {
  height: 51px;
  margin-left: 150px;
}

.logoltsm {
  height: 51px;
  margin-left: 10px;
}

.loginLogoutText {
  margin-right: 150px;
}

.loginLogoutTextltsm {
  margin-left: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#site-title {
  font-size: 18px;
}

#dev-warning {
  font-size: 14px;
  color: red;
}
