<div fxLayout="row" fxLayoutAlign="space-around">
  <div flex="0 1 auto" class="section-title" ngClass.lt-sm="section-title-sm" >Cosa fa ParkinsonCare?</div>
</div>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">

  <div fxFlex="30%" fxFlex.lt-sm="100%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div class="image-parents">
          <img id="ascolta-pict" class="three-img"  src="/assets/public/images/nurse-1.png">
          <img id="ascolta-balloon" class="three-balloon" src="/assets/public/images/balloonascolta.png">
        </div>
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div id="chi-siamo-txt" class="three-img-txt">Ascolta.</div>
      </a>
    </div>
  </div>
  <div fxFlex="30%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="cosa-fa-button" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div class="image-parents">
          <img id="aiuta-pict" class="three-img" src="/assets/public/images/nurses-3.png">
          <img id="aiuta-balloon" class="three-balloon"  src="/assets/public/images/balloonaiuta.png">
        </div>
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="cosa-fa-txt" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div class="three-img-txt">Aiuta.</div>
      </a>
    </div>
  </div>
  <div fxFlex="30%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="affidabile-button" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div class="image-parents">
          <img id="unisce-pict" class="three-img"  src="/assets/public/images/doctor-patient-1.png">
          <img id="unisce-balloon" class="three-balloon"  src="/assets/public/images/balloonunisce.png">
        </div>
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">
        <div id="affidabile-txt" class="three-img-txt">Unisce.</div>
      </a>
    </div>
  </div>
</div>
