.image-parents {
  position: relative;
  top: 0;
  left: 0;
}

.three-img {
  position:relative;
  width: 200px;
  border-radius: 40px;
  z-index: 1;
  top: 0;
  left: 0;
}
.three-balloon {
  position: absolute;
  top: 130px;
  left: 100px;
  width: 90px;
  z-index: 2;
}

#ascolta-balloon {
  //transform: rotate(90deg);
}

#unisce-balloon{
  //transform: rotate(270deg);
}

#aiuta-balloon{
  //transform: rotate(270deg);
}

.three-img-sm {
  width: 100px;
  z-index: 1;
  position:relative;
  border-radius: 20px;
  top: 0;
  left: 0;
}
.three-balloon-sm {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 45px;
  z-index: 2;
}
