<div *ngIf="subscription">


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between" class="exp-panel-header">
        <div fxFlex="30%">
          <app-product-detail [productId]="subscription.plan.product"></app-product-detail>
        </div>

        <div fxFlex="15%">{{subscription.status}}</div>
        <div fxFlex="10%">{{subscription.created*1000|date}}</div>
        <div fxFlex="10%">{{subscription.current_period_end*1000|date}}</div>

        <div fxFlex="25%">
          <div *ngIf="subscription.status === 'active'">
            <button mat-raised-button color="primary" (click)="upgradeSubscription()">Upgrade</button>
            <button mat-raised-button color="secondary" (click)="cancelSubscription()">Cancel</button>
          </div>


        </div>
      </div>
    </mat-expansion-panel-header>

      <div ng-template fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="100%">
          <app-invoice-history [stripeSubscriptionId]="subscription.id"></app-invoice-history>
        </div>
      </div>
  </mat-expansion-panel>


</div>
