<p>payment-history works! {{subscriptionId}}</p>

<div *ngIf="payments">
  <mat-card *ngFor="let payment of payments">
    <mat-card-subtitle>This is a payment</mat-card-subtitle>
    <mat-tab-group>
      <mat-tab label="Payment Info">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="40%">{{payment.lines.data[0].description}}</div>
          <div fxFlex="10%">{{(payment.amount_paid/100)}} ({{payment.lines.data[0].currency}})</div>
          <div fxFlex="10%">{{(payment.lines.data[0].period.start*1000)|date}}</div>
          <div fxFlex="10%">{{(payment.lines.data[0].period.end*1000)|date}}</div>
          <div fxFlex="10%">{{(payment.lines.data[0].period.end*1000)|date}}</div>
        </div>
      </mat-tab>
      <mat-tab label="Raw JSON">
        <pre>{{payment|json}}</pre>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
