section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#zeroth-section {
  padding-top: 10px;
  padding-bottom: 0px;
}
#first-section {
  padding-bottom: 10px;
}
.mat-form-field-flex {
  border-radius: 30px;
}

#page-header {
  margin-top: 50px;
}
#page-subtitle {
  margin-bottom: 25px;
}

.background-sections {
  background-color: #f4f5f7;
}


#first-phrase {
  margin-bottom: 15px;
}

.idle {
   background-color: lightgrey;
 }

.success {
  background-color: lightgreen;
}

.failure {
  background-color: pink;
}

.loading {
  background-color: yellow;
}

pre-remove {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#rest-test-button {
  margin: 40px;
}

.comp-logo {
  width: 150px;
}

.results-display {
  height: 150px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


#landinganimation {
  width: 100%;
}

.levelSmallIntro {
  font-size: 20px;
  font-weight: 500;
  /*
  margin-left: 20%;
  margin-top: 20%;
  */
}





.imageLeft {
  margin-left: 20%;
}

.lightColor {
  background-color: antiquewhite;
}

.levelPng {
  width: 300px;
}

.bottomItemsLeft {
  background-color: lightgreen;
}

.bottomItemsRight {
  background-color: beige;
}

.bottomItemsHeader {
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 15px
}

.bottomItemsBody {
  font-size: 20px;
  color: black;
  margin-left: 14%;
  margin-right: 10%;
  margin-bottom: 15px
}

#scopri-di-piu {
  width: 100%;
  font-family: GothamBold;
  font-size: 30px;
  background-color: #59838C;
  color: white;
  border-radius: 20px;
}
