<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove api-cards-remove">
      <mat-card-title i18n="public home title|An introduction title for the public home@@public home title">Public Home Page</mat-card-title>
      <mat-card-subtitle>The Mean-asStack: An opinionated stack for web and mobile apps</mat-card-subtitle>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
        <div fxFlex="22%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/mongodb/mongodb.png"/></div>
        <div fxFlex="22%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/express/express-facebook-share.png"/></div>
        <div fxFlex="22%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/angular/angular.png"/></div>
        <div fxFlex="22%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/nodejs/nodejs-new-pantone-black.png"/></div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
        <div fxFlex="25%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/auth0/Auth0-Logo-Light-BG.png"/></div>
        <div fxFlex="25%" fxFlexAlign="center"><img class="comp-logo" src="/assets/public/opstack/stripe/Stripe-logo-slate-lg.png"/></div>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <button id="dashboard-button" fxFlex="0 0 auto" mat-raised-button color="primary" (click)="loadData()">Reload All Rest Calls</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.lt-sm="column">

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            1: Public Get Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="publicGet()">Try me!</button>
          </div>
        </div>
      </mat-card-title>
      <div *ngIf="publicGetResult && publicGetResult.status !== 'loading'" [ngClass]="getClassFromStatus(publicGetResult)">
        <pre>{{ publicGetResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="publicGetResult.status === 'loading'" [ngClass]="getClassFromStatus(publicGetResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="publicGetResult.status === 'success'">No token required</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>GET {{getDisplayURL(env.restServiceURL + '/public')}}</div>
      <div>The endpoint is public and should respond with JSON.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            2: Private Get Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="privateGet()">Try me!</button>
          </div>
        </div>

      </mat-card-title>
      <div *ngIf="privateGetResult && privateGetResult.status !== 'loading'" [ngClass]="getClassFromStatus(privateGetResult)">
        <pre>{{ privateGetResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="privateGetResult.status === 'loading'" [ngClass]="getClassFromStatus(privateGetResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="privateGetResult.status === 'success'">Valid token provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(privateGetResult.status) === 401">No token provided</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>GET {{getDisplayURL(env.restServiceURL + '/private')}}</div>
      <div>The endpoint is private and will reject requests without a valid JWT token.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            3: Public POST Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="publicPost()">Try me!</button>
          </div>
        </div>
      </mat-card-title>
      <div *ngIf="publicPostResult && publicPostResult.status !== 'loading'" [ngClass]="getClassFromStatus(publicPostResult)">
        <pre>{{ publicPostResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="publicPostResult.status === 'loading'" [ngClass]="getClassFromStatus(publicPostResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="publicPostResult.status === 'success'">No token required</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>POST {{getDisplayURL(env.restServiceURL + '/public')}}</div>
      <div>The endpoint is public and should echo your JSON body.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            4: Private POST Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="privatePost()">Try me!</button>
          </div>
        </div>

      </mat-card-title>
      <div *ngIf="privatePostResult && privatePostResult.status !== 'loading'" [ngClass]="getClassFromStatus(privatePostResult)">
        <pre>{{ privatePostResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="privatePostResult.status === 'loading'" [ngClass]="getClassFromStatus(privatePostResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="privatePostResult.status === 'success'">Valid token provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(privatePostResult.status) === 401">No token provided</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>POST {{getDisplayURL(env.restServiceURL + '/private')}}</div>
      <div>The endpoint is private and will reject requests without a valid JWT token.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            5: Permissioned POST Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="privateRequirePostPermission()">Try me!</button>
          </div>
        </div>

      </mat-card-title>
      <mat-card-subtitle>Admin users have this permission, they should get success.</mat-card-subtitle>
      <div *ngIf="permissionedAdminPostResult && permissionedAdminPostResult.status !== 'loading'" [ngClass]="getClassFromStatus(permissionedAdminPostResult)">
        <pre>{{ permissionedAdminPostResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="permissionedAdminPostResult.status === 'loading'" [ngClass]="getClassFromStatus(permissionedAdminPostResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="permissionedAdminPostResult.status === 'success'">Valid token with valid permissions provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(permissionedAdminPostResult.status) === 401">No token provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(permissionedAdminPostResult.status) === 403">Valid token without permissions provided</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>POST {{getDisplayURL(env.restServiceURL + '/private/')}}</div>
      <div>The endpoint is private and will reject requests without a valid JWT token.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " >
      <mat-card-title>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="0 0 auto" >
            6: Rejected Permissioned POST Test
          </div>
          <div fxFlex="0 0 auto" >
            <button mat-raised-button color="primary" (click)="privateNeverPermissionedPost()">Try me!</button>
          </div>
        </div>

      </mat-card-title>
      <mat-card-subtitle>No users have this permission, it will always fail.</mat-card-subtitle>
      <div *ngIf="permissionedNeverPostResult && permissionedNeverPostResult.status !== 'loading'" [ngClass]="getClassFromStatus(permissionedNeverPostResult)">
        <pre>{{ permissionedNeverPostResult |json:'pretty' }}</pre>
      </div>
      <div *ngIf="permissionedNeverPostResult.status === 'loading'" [ngClass]="getClassFromStatus(permissionedNeverPostResult)">
        <div fxLayout="row" fxLayoutAlign="center"><div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="0 0 auto" *ngIf="permissionedNeverPostResult.status === 'success'">Valid token with valid permissions provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(permissionedNeverPostResult.status) === 401">No token provided</div>
        <div fxFlex="0 0 auto" *ngIf="parseInt(permissionedNeverPostResult.status) === 403">Valid token without permissions provided</div>
      </div>

      <div>Test this endpoint from Postman:</div>
      <div>POST {{getDisplayURL(env.restServiceURL + '/private/')}}</div>
      <div>The endpoint is private and will reject requests without a valid JWT token.</div>
    </mat-card>
  </div>
</div>
