<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="50%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove api-cards-remove">
      <mat-card-title i18n="public home title|An introduction title for the public home@@public home title">Public Home Page</mat-card-title>
      Need some text here
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex fxFlexAlign="center">
    <button mat-raised-button color="primary" (click)="loadData()">Reload All Rest Calls</button>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.lt-sm="column">
  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " [ngClass]="publicGetStatus">
      <mat-card-title>1: Public Get Call Test</mat-card-title>
      <div *ngIf="publicGetRestResult">
        <pre>{{publicGetRestResult|json:'pretty'}}</pre>
      </div>
      <div *ngIf="!publicGetRestResult">No result from public GET call.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " [ngClass]="publicPostStatus">
      <mat-card-title>2: Public POST Call Test</mat-card-title>
      <div *ngIf="publicPostRestResult">
        <pre>{{publicPostRestResult|json:'pretty'}}</pre>
      </div>
      <div *ngIf="!publicPostRestResult">No result from public PUT call.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " [ngClass]="privateGetStatus">
      <mat-card-title>3: Private Get Call Test</mat-card-title>
      <div *ngIf="privateGetRestResult">
        <pre>{{privateGetRestResult|json:'pretty'}}</pre>
      </div>
      <div *ngIf="!privateGetRestResult">No result from private GET call.</div>
    </mat-card>
  </div>

  <div fxFlex="35%" fxFlex.lt-sm="80%">
    <mat-card class="full-width-remove " [ngClass]="privatePostStatus">
      <mat-card-title>4: Private POST Call Test</mat-card-title>
      <div *ngIf="privatePostRestResult">
        <pre>{{privatePostRestResult|json:'pretty'}}</pre>
      </div>
      <div *ngIf="!privatePostRestResult">No result from private PUT call.</div>
    </mat-card>
  </div>
</div>
