

<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card fxFlex="75%">
    <mat-card-title>Sorry you didn't complete the signup process</mat-card-title>

    <div fxLayout="row" fxLayoutAlign="space-around">
      <mat-card fxFlex="60%">
        Tell us why:<br/>
        <mat-form-field class="full-width" >
          <textarea class="full-width" matInput placeholder="Reason you didn't subscribe" [(ngModel)]="sessionCancelledReason"></textarea>
        </mat-form-field>
      </mat-card>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-around">
      <button fxFlex="30%" mat-raised-button color="primary" (click)="submitReason()">Submit</button>
    </div>

  </mat-card>
</div>
