#divider-line {
  position: relative;
  top: 10px;
  left: 0px;
}

#divider-text {
  /*position: relative;
  right: -5px;
  top: 12px;
  z-index: 1;
  */
  position: relative;
  top: -4px;
  left: 0px;
}
