
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">

  <div fxFlex="1 1 65%">

    <div class="levelLargeHeader-md" [ngClass.lt-md]="'levelLargeHeader-md'" >
      Prezzo di lancio fino a Natale
    </div>

    <div class="levelSmallIntro">
      <!--Il supporto di un esperto, quando ne hai bisogno-->
      Chiamaci ora per capire come affianchiamo malati e familiari nella loro sfida con il Parkinson.
    </div>
  </div>

  <div fxFlex="1 0 25%" fxFlexAlign="center center">
        <div fxFlex="1 0 auto" class="button-look">
        <div class="button-look" fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex="0 0 auto">Codice Sconto: <br/>94B-S3M</div>
        </div>
    </div>
  </div>

</div>
