.logo {
  height: 51px;
  margin-left: 150px;
}

.logoltsm {
  height: 51px;
  margin-left: 10px;
}

.loginLogoutText {
  margin-right: 150px;
}

.loginLogoutTextltsm {
  margin-left: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.footer {
  height: 20px;
  font-size: small;
  color: #607D8B;
  display: inline;
  text-align: center;
  padding-top: 3px;
  display: flex;
}

#footerCopyright {
  width: 33%;
  text-align: center;
}

#footerContactUs {
  width: 33%;
  padding-left: 10px;
  text-align: left;
}

