<mat-nav-list >

  <a mat-list-item id="side-menu-home" href="https://www.parkinsoncare.com/">HOME</a>
  <a mat-list-item id="side-menu-cosa-fa" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#cosafa_section">COSA FA</a>
  <a mat-list-item id="side-menu-com-e" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">COM'È</a>
  <a mat-list-item id="side-menu-contatti" href="https://www.parkinsoncare.com/s/contatti">CONTATTI</a>
  <a mat-list-item id="side-menu-neuro" href="https://www.parkinsoncare.com/s/neurologist">SEI UN NEUROLOGO?</a>
  <a mat-list-item id="side-menu-accedi" href="https://www.parkinsoncare.com/">ACCEDI</a>

</mat-nav-list>
