<mat-nav-list >
  <a mat-list-item (click)="toggleText()"><mat-icon>settings_ethernet</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Collapse</span></a>
  <a mat-list-item routerLink="/private/dashboard"><mat-icon>dashboard</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Dashboard</span></a>
  <a mat-list-item routerLink="/private/profile" *ngIf="auth.inRole(['User']) | async"><mat-icon>person</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Profile</span></a>
  <a mat-list-item routerLink="/private/account" *ngIf="auth.inRole(['User']) | async"><mat-icon>account_box</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Billing</span></a>
  <app-sidebar-divider [dividerText]="'Admin'"></app-sidebar-divider>
  <a mat-list-item routerLink="/admin/users" *ngIf="auth.inRole(['Admin']) | async"><mat-icon>people</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Users</span></a>
  <a mat-list-item routerLink="/admin/roles" *ngIf="auth.inRole(['Admin']) | async"><mat-icon>grain</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Roles</span></a>

  <div *ngIf="auth.loggedIn">
    <a mat-list-item (click)="auth.logout(); router.navigate(['/public/home']);"><mat-icon>power_settings_new</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Logout</span></a>
  </div>
  <div *ngIf="!auth.loggedIn">
    <div>
      <a mat-list-item (click)="auth.login()"><mat-icon>power_settings_new</mat-icon><span class="sidenav-text" *ngIf="sidenavBroadcaster.showTextDescriptions"> Login</span></a>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-nav-list>
