<div fxLayout="row" fxLayoutAlign="space-around">
  <div flex="0 0 auto" class="section-title" ngClass.lt-sm="section-title-sm">Com’è ParkinsonCare?</div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around">

  <div fxFlex="32%" fxFlex.lt-sm="100%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <img id="chi-siamo-button" class="three-img" [ngClass.lt-sm]="'three-img-sm'" src="/assets/public/images/phonelanding.png">
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <div id="semplice-txt" class="three-img-txt">È semplice.</div>
      </a>
    </div>
  </div>
  <div fxFlex="32%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="cosa-fa-button" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <img class="three-img" [ngClass.lt-sm]="'three-img-sm'" src="/assets/public/images/espertolanding.png">
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="cosa-fa-txt" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <div id="esperto-txt" class="three-img-txt">È esperto.</div>
      </a>
    </div>
  </div>
  <div fxFlex="32%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <a id="affidabile-button" href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <img class="three-img" [ngClass.lt-sm]="'three-img-sm'" src="/assets/public/images/affidabile.png">
      </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <a href="https://www.parkinsoncare.com/s/login/?startURL=%2Fs%2F&ec=302#come_section">
        <div id="affidabile-txt" class="three-img-txt">È affidabile.</div>
      </a>
    </div>
  </div>
</div>
