<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-title>Users</mat-card-title>

      <mat-card class="list-mat-card list-header-mat-card">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="20%">Email</div>
          <div fxFlex="20%">Last Login</div>
          <div fxFlex="10%">Email is Verified</div>
          <div fxFlex="10%">Admin Block</div>
          <div fxFlex="20%">Number of Logins</div>
        </div>
      </mat-card>

      <mat-card class="list-mat-card" *ngFor="let user of users" (click)="selectUser(user)" [class.selected]="isSelectedItem(user)">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="20%">{{user.email}}</div>
          <div fxFlex="20%">{{user.last_login|date:'medium'}}</div>
          <div fxFlex="10%">
            <div *ngIf="user.email_verified"><mat-icon>check_circle_outline</mat-icon></div>
            <div *ngIf="!user.email_verified"><mat-icon>highlight_off</mat-icon></div>
          </div>
          <div fxFlex="10%">
            <div *ngIf="user.blocked"><mat-icon>highlight_off</mat-icon></div>
            <div *ngIf="!user.blocked"></div>
          </div>
          <div fxFlex="20%">{{user.logins_count}}</div>
        </div>
      </mat-card>

      <mat-card *ngIf="usersLoading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <div *ngIf="users && users.length>0">
        <mat-card class="list-paginator">
          <mat-paginator [length]="itemsFound"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pageChange($event)" >
          </mat-paginator>
        </mat-card>
      </div>


      <mat-card *ngIf="selectedUserLoading" fxLayout="row" fxLayoutAlign="center" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="0 0 auto"><mat-spinner></mat-spinner></div>
        </div>
      </mat-card>

      <mat-card *ngIf="selectedUser">
        <mat-card-title>Selected User: {{selectedUser.email}}</mat-card-title>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around">
          <div fxFlex="45%">
            <div fxLayout="column">

              <div fxFlex="95%">

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" [(ngModel)]="selectedUser.name" >
                </mat-form-field>

              </div>

              <div fxFlex="95%">

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="selectedUser.email">
                </mat-form-field>

              </div>

              <div fxFlex="95%">

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Given Name</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="selectedUser.given_name">
                </mat-form-field>

              </div>

              <div fxFlex="95%">

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Family Name</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="selectedUser.family_name">
                </mat-form-field>

              </div>

              <div fxFlex="95%">

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Nickname</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="selectedUser.nickname">
                </mat-form-field>

              </div>

            </div>

          </div>
          <div fxFlex="45%">
            <div fxLayout="column">
              <div fxFlex="95%">
                <mat-slide-toggle [(ngModel)]="selectedUser.blocked">Administrative Block</mat-slide-toggle>
              </div>
              <div fxFlex="95%">
                <mat-slide-toggle [(ngModel)]="selectedUser.email_verified">Email Verified</mat-slide-toggle>
              </div>
              <div fxFlex="95%">
                Created: {{selectedUser.created_at|date:"medium"}}
              </div>
              <div fxFlex="95%">
                Updated: {{selectedUser.updated_at|date:"medium"}}
              </div>
              <div fxFlex="95%">
                Last Login: {{selectedUser.last_login|date:"medium"}}
              </div>
            </div>
          </div>
        </div>


        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="updateSelectedUser()">Save</button>
        </mat-card-actions>

        <mat-card>
          <mat-card-subtitle>Payment Sessions History</mat-card-subtitle>
          <div *ngIf="selectedUser.app_metadata">
            <div *ngIf="selectedUser.app_metadata.stripe_customer_ids">
              <div *ngFor="let stripeCustomerId of selectedUser.app_metadata.stripe_customer_ids">
                <app-customer-detail [stripeCustomerId]="stripeCustomerId"></app-customer-detail>
              </div>
            </div>
          </div>
          <div *ngIf="!selectedUser.app_metadata || !selectedUser.app_metadata.stripe_customer_ids">
            No purchases made
          </div>
        </mat-card>
      </mat-card>
    </mat-card>

    <!--
    <mat-card *ngIf="selectedUser">
      <mat-card-title>Selected user json</mat-card-title>
      <pre>{{selectedUser|json:"pretty"}}</pre>
    </mat-card>
    -->
  </div>
</div>


