<div fxLayout="row" fxLayoutAlign="space-around">
  <div flex="0 1 auto" class="section-title" ngClass.lt-sm="section-title-sm" >Perché ParkinsonCare?</div>
</div>


<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
  <div fxFlex="45" fxFlex.lt-sm="90%" class="q-text"  id="q-text-left" >
        <div  >Questo sintomo e' nuovo... <br/>È normale?</div>
  </div>
  <div fxFlex.lt-sm="90%" fxHide fxShow.lt-sm id="three-img-txt" class="three-img-txt">
    <div fxLayout="row" fxLayoutAlign="space-around"><div fxFlex="0 0 auto" class="three-img-txt">Consiglia.</div></div>
  </div>
  <div fxFlex="45" fxFlex.lt-sm="90%"class="q-text"  id="q-text-right">
    <div >Non ho mai chiesto al mio neurologo...</div>
  </div>
  <div fxFlex.lt-sm="90%" fxHide fxShow.lt-sm id="three-img-txt" class="three-img-txt">
    <div fxLayout="row" fxLayoutAlign="space-around"><div fxFlex="0 0 auto" class="three-img-txt">Ascolta.</div></div>
  </div>
</div>


<div fxLayout="row" fxHide.lt-sm fxLayoutAlign="space-around stretch">
  <div fxFlex="45">
    <div fxLayout="row" fxLayoutAlign="space-around"><div fxFlex="0 0 auto" class="three-img-txt">Consiglia.</div></div>
  </div>
  <div fxFlex="45">
    <div fxLayout="row" fxLayoutAlign="space-around"><div fxFlex="0 0 auto" class="three-img-txt">Ascolta.</div></div>
  </div>
</div>

