@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pcare-app-primary: mat-palette($mat-blue-grey);
$pcare-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pcare-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pcare-app-theme: mat-light-theme($pcare-app-primary, $pcare-app-accent, $pcare-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pcare-app-theme);

@font-face{
  font-family:GothamRegular;
  src:url('/assets/public/fonts/GothamReg');
}
@font-face{
  font-family:GothamBold;
  src:url('/assets/public/fonts/GothamBold');
}
@font-face{
  font-family:GothamBook;
  src:url('/assets/public/fonts/GothamBook');
}

.levelLargeHeader {
  font-size: 55px;
  font-weight: 700;
  font-family: GothamBold;
}

.levelLargeHeader-md {
  font-size: 35px;
  font-weight: 700;
  font-family: GothamBold;
}

.levelSmallIntro {
  font-size: 25px;
  font-weight: 700;
  margin-bottom:20px;
  font-family: GothamBook;
}

.noImageSmallIntro {
  margin-top: 0% !important;
}

.levelParagraph {
  font-size: 20px;
  font-weight: 500;
  font-family: GothamBook;
}

.levelImg {
  width: 350px;
  margin: 10px;
  border-radius: 20px;
}

.three-img-txt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: GothamBold;
  color: #000000;
}

.section-title {
  font-size: 35px;
  font-family: GothamBold;
}

.section-title-sm {
  font-size: 25px;
  font-family: GothamBold;
}

