/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.api-cards {
  margin: 20px;
}

mat-sidenav-container {
  height: 100vh;
  /*background-color: lightslategrey;*/
}

mat-card {
  margin: 10px;
}

.list-mat-card {
  margin: 0px;
  padding: 2px !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
  border-bottom: 1px dotted grey;
}


.list-mat-card.selected {
  background-color: lightblue;
}

.list-header-mat-card {
  background-color: lightgrey;
}

.list-paginator {
  margin: 0px;
  padding: 5px !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0) !important;
}
