<mat-card>
  <mat-card-title>Subscription History</mat-card-title>

  <mat-expansion-panel [disabled]="true">
    <mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between" class="exp-panel-header">
        <div fxFlex="30%">Product</div>
        <div fxFlex="15%">Status</div>
        <div fxFlex="10%">Purchase Date</div>
        <div fxFlex="10%">Paid Until Date</div>
        <div fxFlex="25%"></div>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <div *ngIf="stripeSubscriptions">
    <div *ngFor="let subscription of stripeSubscriptions.data">
      <app-subscription-detail [stripeSubscriptionId]="subscription.id"></app-subscription-detail>
    </div>
  </div>
</mat-card>
