#text-toggle-button {
  position: absolute;
  right: -5px;
  top: 25px;

  z-index: 1;
}

.sideNavContainer {
  position: relative;
  overflow: visible;
  background-color: darkgrey;
}

.auth-container {
  position: relative;
  overflow: visible;
}
