<mat-sidenav-container class="sideNavContainer">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
               mode="side"
               [opened]="true">
    <!--

               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
    -->

    <app-sidebar-menu [type]="'private'"></app-sidebar-menu>

  </mat-sidenav>

  <mat-sidenav-content class="auth-container">

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
