<div fxLayout="wrap">
  <div fxflex>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title>Card 1</mat-card-title>
    </mat-card>
  </div>
  <div fxflex>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title>Card 1</mat-card-title>
    </mat-card>
  </div>
  <div fxflex>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title>Card 1</mat-card-title>
    </mat-card>
  </div>
  <div fxflex>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-title>Card 1</mat-card-title>
    </mat-card>
  </div>
</div>


